body {
    
    margin: 0 auto;
    max-width: 1440px;
    padding: 5em;
    color: white;
    background-color: black;

}

main {
    text-align: center;
}

h1 , p, nav {
    text-align: center;
}

.logo-pic {
    text-align: right;
}

#logo {
    padding-top: 5px;
}

header nav {
    background-color: darkblue;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 3em;
}



footer, footer p a {
    background-color: darkblue;
    color: white;
    text-decoration: none;
    text-align: left;
}


footer .social img {
    padding-top: 15px;
    width: 50px;
    height: auto;
    border-radius: 100%;
}