@import url('https://fonts.googleapis.com/css2?family=Abel&family=Exo:ital,wght@1,500&family=Josefin+Slab:ital,wght@1,500&family=Orbitron:wght@500&display=swap');

:root {
    
    --headers-font: "Orbitron";
    --paragraphs-font: Exo, Helvetica, sans-serif;


}

#content {
    max-width: 1600px;
    margin: 0 auto;
}




*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /*overflow: hidden;*/
    background: #000200;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    z-index: -1;
}
section .star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: uppercase;
    animation: animate 8s ease-in-out infinite;
}
section .star.star1 {
    animation-delay: 0s;
    background: url(star1.png);
}
section .star.star2 {
    animation-delay: -1s;
    background: url(star2.png);
}
section .star.star3 {
    animation-delay: -2s;
    background: url(star3.png);
}
section .star.star4 {
    animation-delay: -3s;
    background: url(star4.png);
}
section .star.star5 {
    animation-delay: -4s;
    background: url(star5.png);
}
section .star.star6 {
    animation-delay: -5s;
    background: url(star6.png);
}
section .star.star7 {
    animation-delay: -6s;
    background: url(star7.png);
}
section .star.star8 {
    animation-delay: -7s;
    background: url(star8.png);
}
@keyframes animate {
    0%,20%,40%,60%,80%,100% {
        opacity: 0;
    }
    10%,30%,0%,70%,90% {
        opacity: 1;
    }
}
/*----------------------------------------*/
/*Colors
#333333 jet?
#8D99AE cool gray
#808080 gray
#00008B navy blue
#191970 midnight blue
*/

body {
    font-size: 18px;
}


header h1, header p {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    
}
header nav p {
    text-align: center;
    font-size: 16px;
    padding: 35px;
    text-align: center;

}
header nav {
    background-color: #00008B;
    
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    font-family: var(--headers-font);
    border-radius: 25px;

}
footer {
    margin-top: auto;
    font-family: var(--paragraphs-font);
    
}
footer, footer p{
    text-align: center;
    color: white;
    background-color: #00008B;
}
footer a, header a {
    color: white;
    text-decoration: none;
}
footer p a:hover, header a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
    width: 50px;
    height: auto;
}




main p {
    color: white;
    padding: 15px;
}
#the_windows {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-row: repeat(12, 1fr);
    gap: 80px;
    margin-top: 100px;
    
}
.left {
    border-radius: 15px;
    grid-column: 3/6;
    grid-row: 1/8;
    background-color: #333333;
    font-family: var(--paragraphs-font);
}
.right  {
    border-radius: 15px;
    grid-column: 8/11;
    grid-row: 1/6;
    background-color: #8D99AE;
}
.bottom {
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    grid-column: 1/12;
    grid-row: 11/12;
    background-color: #191970;
    margin-bottom: 20px;
    display: flex;
    padding: 25px;

}

.bottom img {
    width: 150px;
    height: auto;
    border-radius: 25px;

}

.middle-one {
    width: 2fr;
    height: 4fr;
    transform: rotate(185deg);
    grid-column: 6/8;
    grid-row: 2/6;
}

.middle-two {
    border-radius: 25px;
    background-color: #191970;
    grid-column: 7/10;
    grid-row: 6/9;
}
.middle-three {
    border-radius: 15px;
    background-color: #191970;
    grid-column: 5/8;
    grid-row: 9/11;
    text-align: center;

}






.logo-pic {
    border-radius: 50%;
    width: 150px;
    height: auto;

}
#logo {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}




.grid-a {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

.initial-text {
    grid-column: 2/3;
    margin-top: 25px;
    margin-bottom: 50px;
    font-family: var(--headers-font);
    font-size: 3em;
}
.initial-text1 {
    grid-column: 2/3;
    font-family: var(--paragraphs-font);
    margin-top: -55px;
}
.initial-text2 {
    grid-column: 2/3;
    font-family: var(--paragraphs-font);
    margin-top: -25px;
    margin-bottom: 20px;
}
















.nav-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.shootingstar {
    width: 292px;
    height: 90px;
    transform: rotate(20deg);
}