@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Slab:ital,wght@1,500&display=swap');


:root {
    --heading-font: "Josefin Slab";
    --paragraph-font: Abel, Helvetica, sans-serif;
}


nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #5995ed;
    color: #ffffff;
}
header {
    background-color: rgba(37, 60, 120, 0.5);
    display: grid;
    grid-template-columns: 150px auto;
}
body {
    background-color: #0a369d ;
    font-family: var(--heading-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.rivers-part {
    display: grid;
}







footer {
    background-color: #253c78;
    color: #ffffff;
    padding: 25px 50px;
    margin-top: 200px; 
    
    justify-content: space-around;
    text-align: center;
}
footer .social img {
    padding-top: 15px;
}
footer p {
    font-size:  1.2em;
    
}
footer p a:hover {
    text-decoration: underline; 
}
footer a:hover {
    color: #ffffff;
    
}
footer a {
    color: #ffffff;
    text-decoration: none;
}













.logo {
    width: 80px;

}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}